
<article class="panel is-dark">
  <p class="panel-heading">
    Upcoming Attended Events:
  </p>
  <% user.attended_events.upcoming.each do |event| %>
    <%= link_to event.title, event_path(event), class: "panel-block" %>
  <% end %></article>
  <br>
  <br>
  <br>
<article class="panel">
  <p class="panel-heading">
    Past Attended Events:
  </p>
  <% user.attended_events.past.each do |event| %>
    <%= link_to event.title, event_path(event), class: "panel-block" %>
  <% end %>
</article>
<br>
<br>
<br>
<article class="panel">
    <p class="panel-heading">
    Your hosted events:
  </p>
  <% user.events.each do |event| %>
    <%= link_to event.title, event_path(event), class: "panel-block" %>
  <% end %>
<br><br>

  <div class="card-footer">
  <% user.roles.each do |role| %>
    <div class="badge badge-info">
      <%= role.name %>
    </div>
  <% end %>
</div>
<br>