<div class="jumbotron">
  <div class="display-4">
    What events do you want to event today?
</div>
  <div class="card-group">
    <div class="card card-body">
      <h1>
        <div class="fa fa-graduation-cap"></div>
      </h1>
      <%= Event.count %>
      online Events
      <div class="row"></div>
      Explore a variety of fresh topics
    </div>
    <div class="card card-body">
      <h1>
        <div class="fa fa-chalkboard-teacher"></div>
        <!--.fa.fa-brain
        -->
      </h1>
      <%= Event.distinct.count(:host_id) %>
      creators of events
      <div class="row"></div>
      Find the right for you
    </div>
    <div class="card card-body">
      <h1>
        <div class="fa fa-user-graduate"></div>
      </h1>
      <%= User.count %>
      active users
      <div class="row"></div>
      Join the sharing community
    </div>
    <div class="card card-body">
      <h1>
        <div class="fa fa-infinity"></div>
      </h1>
      Lifetime access
    </div>
  </div>
  <hr/>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'events/event' %>
  </tbody>
</table>

